body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: Arial;

}
div.registration{
    padding-top: 0px;
}

.form-signin {
    padding: 25px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
     position: relative;
     height: auto;
     margin-left: 40px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 10px;
     font-size: 12px;
    border:2px solid black;

 }
.form-signin .form-control.password {
    margin-left: 133px;
}
.form-signin .form-control.password.registration {
    margin-left: 129px;
}
.form-signin .form-control.password.confirmation {
    margin-left: 69px;
}

.form-signin .form-control:focus {
    z-index: 2;
}
.text-center{
    font-weight: bold;
    margin-left: 20px;
}
.data{
    font-weight: bold;
}
.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn{
    margin: 230px;
    margin-top: 10px;
    border:2px solid black;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
.btn.registration{
    margin-left: 208px;
    width: 150px;
}
.btn.welcome{
    border:2px solid black;
    margin-left: 30px;
}

.welcome{
    margin-left: 30px;
}
.has-error {
    color: red
}
